footer {
    p{    
        text-align: center;
        color: aliceblue;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    footer {
        p {
            font-size: 8px;
        }
    }
}