@use "../utilities/variables";

title {
    text-align: center;
}

a{
    list-style-type: none;
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
}

p
{
    color: variables.$p-yellow;
    font-family: "Ubuntu", sans-serif;
    font-size: variables.$p-size;
    text-align: center;
}

h1
{ 
    color: variables.$p-red;
    font-family: "Titillium Web", sans-serif;
    font-size: 48px;
    font-weight: bold;
}

h2
{
    color: variables.$p-red;
    font-family: "Titillium Web", sans-serif;
    font-size: 36px;
    text-decoration: underline;
}

body 
{
    background-color: variables.$p-orange;
}

.p-alt
{
    text-align:left;
    font-size: 22px;
}


.p-advertencia
{
    text-align: left;
    font-size: 12px;
}

.nav-li 
{
    list-style-type: none;
    text-decoration: none;
}

.cierre-parrafo 
{
    text-align: center;
}

.textos-extra
{
    font-family: "Titillium Web", sans-serif;
    color: variables.$p-yellow;
}

.elevate{
    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
    color: variables.$p-red;
    }
}

.contacto {
    text-decoration: none;
    color: variables.$p-yellow;

    &:hover {
    color: variables.$p-red;
    }
}