@use "../utilities/variables";

.navbar {
    background-image: linear-gradient(to right, grey, orange);
}

.navbar-toggler {
    border-color: none;
    outline-color: none; 
    padding: 0;
    transition: transform 0.3 ease;
    border-radius: 50%;

    &:hover {
    transform: rotate(90deg);
    }
}


.navbar-toggler-icon {
    border: none;
    outline: 12px;
    background-color: variables.$p-yellow;
    border-radius: 50%;
}

.nav-link 
{
    color: variables.$p-yellow;
    text-decoration: none;

    &:hover {
    color: variables.$p-red;
    text-decoration: none;
    }
}
