*{
    margin:0;
    padding:0;
}

a{
    list-style-type: none;
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
}

p
{
    color: rgb(221, 191, 18);
    font-family: "Ubuntu", sans-serif;
    font-size: 33px;
    text-align: center;
}